@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (hover: hover) {
  .animated-list:hover li {
    opacity: 0.5;
  }

  .animated-list:hover li:hover {
    opacity: 1;
  }
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}

.post {
  @apply flex flex-col gap-5 tracking-wide;
}

.post > h1 {
  @apply text-2xl tracking-tight;
  @apply font-bold;
}

.post > h2 {
  @apply text-xl tracking-tight;
}

.post a {
  @apply border-b-[2px] border-neutral-600 transition duration-500 hover:border-neutral-800 dark:hover:border-neutral-500;
}

.post > p {
  @apply text-text-light-headerLight dark:text-text-dark-body;
}

.post code {
  @apply rounded bg-neutral-200 px-1 text-red-600 dark:bg-neutral-800 dark:text-red-400;
}

.post > ul {
  @apply mx-10 flex list-disc flex-col gap-2;
}

.post > pre {
  @apply overflow-scroll bg-neutral-950 p-5 text-neutral-50;
}

.post img {
  @apply rounded-2xl;
}

.post > blockquote {
  @apply border-l-2 border-neutral-600 border-opacity-40 pl-5 italic;
}

.post > p > img {
  @apply mx-auto;
}

.mapboxgl-control-container {
  display: none;
}

.map-marker {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--blue-10);
  transform: translate(-50%, -50%);
  border: 3px solid rgba(255, 255, 255, 0.95);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
